<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keyword" content="MRL highschool">
    <meta name="author" content="MRL team">
    <meta http-equiv="refresh" contact="2">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../resources/css/style.css"/>
    <title>ABOUT US</title>
</head>
<body>

 <section class="header">
        <nav>
            <div calss="images">
        <img src="../../resources/images/school logo.png" alt="school logo" width=100>
        </div>
            <div class ="nav-links">
                <ul>
                    <li><a href="index.html">HOME </a></li>
                    <li><a href="about us.html"> ABOUT US</a> </li>
                    <li><a href="events.html">EVENTS</a></li>
                    <li><a href="gallery.html">GALLERY</a></li>
                    <li><a href="instructors.html">INSTRUCTORS</a></li>
                    <li><a href ="contact.html">CONTACT </a></li>
                </ul>
            </div>

        </nav>
    <hr/>
        <div align="left" bgcolor="#d3e2e3" width="100%" height="100">
        </div>

<style>
body{
background-repeat:no-repeat;
background-size:cover;
background-color:#5f656b;
}
</style>

 <div class ="header1">
      <h5>About us</h5></br>
      </div>
  <div class = "container">
        <div class="container-1">
            <h2> OUR VISION AND MISSION</h2>
        </div>

        <div class = "container-2">
                <p>
                    Our vision is to prepare students to understand, contribute and to succees in a rapidly changing world, and thus became responsible contributing member of society.
                    We will ensure that our students develop skills, that are essential for success and leadership in the emerging creative economy.
                    We will also lead in generating practical and theortical knowledge that enables people to better understand our world and improve conditions for local communities.
                    Our mission is to promote learning to equip students with perceptual skills, and infinte an attitude of learning.
                    We seeks to that encourage a culture of high expectations, where each individual will feel valued, grow in inspiration.
                    Students form long lasting bonds with their peers, teachers, mentors, families and society.
                </p>
        </div>
    </div>

    <div class = "container">

        <div class="container-1">
            <h2> OUR GOAL</h2>
        </div>

        <div class = "container-2">
            <ul>
                <li>to give the basic skills needed to build upon to accomplish students whatever task or job is given to them</li>
                <li>to make students <big>critical thinkers</big></li>
                <li>to make <i>moral persons</i> and <i>good citizens</i></li>
                <li>to generate students with appericiation for individual to differences and community values</li>
                <li>to raise and maintain the level of students motivation by giving focus to the program of students that reflects their own talents.</li>
            </ul>

        </div>
    </div>

    <div class = "container">

        <div class="container-1">
            <h2> CODE OF ETHICS</h2>
        </div>

        <div class = "container-2">

            <ul>
                <li>Students shall comply with the <b>ethical standard</b> of the our school with regard to public statments or publication</li>
                <li>Students shall honor their responsibilities to public and professional colleagues</li>
                <li>A classroom should promote safety, security and acceptance and should always avoid
                  bullying, hostility, neglect, dishonesty or offensive conduct</li>
            </ul>
        </div>
    </div>

    <h3>For more Information</h3>
    <div class="photo">


        <div class="photo-1">
            <figure>
                <img src="../../resources/images/t1.png" alt="photo of director"  width=110 height=110>
                <figcaption><b>Director</b></figcaption>
                <figcaption>Weyneshet Tefra</figcaption>
                <figcaption></b>Phone no +251 900875534</figcaption>
            </figure>
        </div>

        <div class="photo-1">
            <figure>
              <img src="../../resources/images/t4.png" alt="photo of unit leader" width=110 height=110>
              <figcaption><b>Unit Leader</b></figcaption>
              <figcaption>Muluken Zenebe</figcaption>
              <figcaption>Phone no +251 934890012</figcaption>
            </figure></td><td width="80">
        </div>

        <div class="photo-1">
            <figure>
                <img src="../../resources/images/t5.png"  alt="photo of unit leader" width=110 height=110>
                <figcaption><b>Unit Leader</b></figcaption>
                <figcaption>Melat Hailu</figcaption>
                <figcaption>Phone no +251 909435699</figcaption>
            </figure>
        </div>
    </div>

        <div class ="contain">
            <div class = "contain-1">
                <img src="../../resources/images/p10.jpg" alt="photo" width=500px height=400>
            </div>


            <div class="contain-2">
                <p>
                    MRL School have many outstanding and competitive students.
                    Discovering new experiences that streatch mind are what makes our school speicail.
                    We have many club that are enjoyed by students. <br/>Students thrive because they enjoy what is an offer and throw themselves into the opportunities
                    which school life presents and push themselves to give their best.<br/>
                   <br/><big>We are sure we will enjoy our school.</big>
                </p>
            </div>
        </div>
        <script src="main.js"></script>

<br/><hr/>
<h3>Rules And Regulations</h3>
<div class="grid-container">

      <div class="grid-container1 open"><h4>Classroom Regulation</h4>
      <p>
        <a name="next">Each teacher establishes classroom rules at the onset of the school year.  It is policy that students are not allowed to wear hats,
        chew gum, or eat any food as well as conduct disruptive behavior in the classroom. Students may not leave their seats during class
        without the teacher’s permission. A student must wait for the teacher to exit the classroom before going out. A student will be assigned
        a seat at the beginning of the year; without the knowledge of the homeroom teacher, no student is allowed to change his/her seat.
        Toilet and wash area privileges must be respected and kept to a minimum.  After break, lunch and PE times, students must line up before
        entering the class.
        </p>
      </div>
      <div class="grid-container2"><h4>School Discipline<a name="next1"></a></h4>
        <p>
          The staff believes that positive school discipline is an interactive
          process involving the students, the school, the home, and the entire school community.  By working together,
          we can build a community which puts children first in order to create a better tomorrow for everyone.
        </p>
    </div>
</div>

<div class="grid-items">
          <h4>School Rules<a name="next0"></a></h4>
          <p>
          The rules fall under the 5 headings underlined below. Whilst the rules listed are the desired outcomes it is with guided discussion that the class should
          formulate them to provide the ownership at the beginning of each year and be revised through the year.
          <div class="grid-item">
            <dl><h5>LEARNING RULE</h5>
            <dt>Be considerate of others</dt>
            <dt>Be prepared with equipment</dt>
            <dt>Complete tasks to the best of your ability</dt>
            <dt>Listen carefully to tasks directions</dt>
            <dt>Put your hand up for assistance</dt>
            <dt>Be responsive to the noise meter</dt></dl>
        </div>
        <div class="grid-item">
            <dl><h5>MOVEMENT RULE </h5>
            <dt>Move quietly in lines from place to place in the school</dt>
            <dt>Sit with legs crossed on the floor</dt>
            <dt>Assemble promptly and in a considerate manner at bell times</dt>.</dl>
        </div>
        <div class="grid-item">
            <dl><h5>TALKING RULE</h5>
            <dt>One speaker at a time</dt>
            <dt>Raise your hand if you wish to speak</dt>
            <dt>Be aware of noise meter</dt>
            <dt>Listen carefully to the speaker</dt>
            <dt>Have good manners and be polite</dt></dl>
        </div>
        <div class="grid-item">
            <dl><h5>SAFETY RULE </h5>
            <dt>Handle and use equipment correctly</dt>
            <dt>Respect others rights to be safe all the time</dt>
            <dt>If you can’t solve a problem ask for teacher assistance</dt>
            <dt>Use furniture correctly</dt>
            <dt>Stay within playground boundaries</dt>
            <dt>Play safely</dt></dl>
        </div>
        <div class="grid-item">
            <dl><h5>CARING RULE</h5>
            <dt>Have good manners and be polite</dt>
            <dt>Be considerate of others’ feelings</dt>
            <dt>Respect other people’s rights without interference</dt></dl>
                  </p>
        </div>
  </div>

<!-- 
<table bgcolor="#d3e2e3" width="100%" >
	<tr>
		<td align="center">
			<h2 >Latest Works</h2>
			<p>Radio <p>
			<p>Mozaic arts </p><br>
			<p><b>We are an award-winning creative school, dedicated to build our future generation</b></p>
		</td>
	</tr>
	<tr>
		<td align="center">
			<hr width="100"><br>
            <a href="privacy.html" style="color: #f1b71c; font-size: 14px;"><font size="4">Privacy and Policy |</font></a>
			<a href="privacy.html" style="color: #f1b71c; font-size: 14px;"><font size="4">Terms of Use</font></a>
		</td>
	</tr>
</table>
</body>
<footer align="center">
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed and Developed by <a href="designer.html" style="color: #f1b71c; font-size: 14px;">MRL TEAM</a>
</footer> -->

<section class="footer">
    <div class="address">
        <h4 class="h">ADDRESS</h4>
    <p class="par">Bole Bulbula, Addis Ababa Branch<br>
     
     6950 Medanialem Road<br>
   
    Posta, Adama Branch<br>
     
     1030 postabet Street<br>
    
     Haile Garment, Addis Ababa Branch<br>
    
     801 Condominium Road</p>
    </div>
    <div class="share">
     <p class="fu">Follow Us on: </p>
    <a href="#"><img src="../../resources/images/facebook 2.png"></a> 
    <a href="#"><img src="../../resources/images/twitter 2.png"></a> 
    <a href="#"><img src="../../resources/images/linkedin 2.png"></a> 
    <a href="#"><img src="../../resources/images/instagram 2.png"></a> 
    </div>
    <div class="links">
     <a href="privacy.html" style="color: #f1b71c; font-size: 14px;"><font size="4">Privacy Policy |</font></a>
     <a href="privacy.html" style="color: #f1b71c; font-size: 14px;"><font size="4">Terms of Use</font></a>
    </div>
    
    <div class="copy-right">
     <p class="cp">"Copyright" &copy;<scripimages>document.write(new Date().getFullYear());</scripimages All rights reserved | Designed and Developed by:</p> <a href="designer.html" 
                 style="color: #f1b71c;">MRL TEAM</a>
    </div>
    </section>




</html>
